
.Container{
    margin: 0 auto;
    width: 500px;
}

table{
    border: 1px solid #000;
    border-collapse: collapse;
    width: 500px;
}

th{
    border: 1px solid #000;
}
button{
    border: none;
    background: white;
    color: black;

}
