body{
    background-color: turquoise;
}

.Container{
    margin: 0 auto;
    width: 500px;
}

#myTable{
    border: 1px solid #000;
    border-collapse: collapse;
    width: 500px;
}

th{
    border: 1px solid #000;
}
button{
    border: none;
    background: turquoise;
    color: black;

}

.table-row {
    border: 1px solid #000;
}
.table-cell {
    border: 1px solid #000;
    text-align: center;
}